<!-- login form  -->
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

<link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
<div class="login-form-container active" id="register-form-container">
    <a href="{% url 'home' %}" id="close-login-btn" class="fas fa-times close-register-btn"></a>
    <form method="post">
        {% csrf_token %}
        <h3>Зарегистрироваться</h3>
        {{ form }}
        <button type="submit" class="btn">Зарегистрироваться</button>
        {#        <p>forget password ? <a href="#">click here</a></p>#}
        <p>Уже зарегистрированы ? <a href="{% url 'login' %}" id="log_btn">Войти</a></p>
    </form>
</div>
